src/wsdl/localhost_8080/WS_GestionPermiso-master-3/USUARIO_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="USUARIO_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/USUARIO_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="u_selId">
<part name="parameters" element="tns:u_selId"/>
</message>
<message name="u_selIdResponse">
<part name="parameters" element="tns:u_selIdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="u_sel">
<part name="parameters" element="tns:u_sel"/>
</message>
<message name="u_selResponse">
<part name="parameters" element="tns:u_selResponse"/>
</message>
<message name="u_ins">
<part name="parameters" element="tns:u_ins"/>
</message>
<message name="u_insResponse">
<part name="parameters" element="tns:u_insResponse"/>
</message>
<message name="u_del">
<part name="parameters" element="tns:u_del"/>
</message>
<message name="u_delResponse">
<part name="parameters" element="tns:u_delResponse"/>
</message>
<message name="u_upd">
<part name="parameters" element="tns:u_upd"/>
</message>
<message name="u_updResponse">
<part name="parameters" element="tns:u_updResponse"/>
</message>
<portType name="USUARIO_tapi">
<operation name="u_selId">
<input wsam:Action="http://ws_pkg/USUARIO_tapi/u_selIdRequest" message="tns:u_selId"/>
<output wsam:Action="http://ws_pkg/USUARIO_tapi/u_selIdResponse" message="tns:u_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/USUARIO_tapi/u_selId/Fault/Exception"/>
</operation>
<operation name="u_sel">
<input wsam:Action="http://ws_pkg/USUARIO_tapi/u_selRequest" message="tns:u_sel"/>
<output wsam:Action="http://ws_pkg/USUARIO_tapi/u_selResponse" message="tns:u_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/USUARIO_tapi/u_sel/Fault/Exception"/>
</operation>
<operation name="u_ins">
<input wsam:Action="http://ws_pkg/USUARIO_tapi/u_insRequest" message="tns:u_ins"/>
<output wsam:Action="http://ws_pkg/USUARIO_tapi/u_insResponse" message="tns:u_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/USUARIO_tapi/u_ins/Fault/Exception"/>
</operation>
<operation name="u_del">
<input wsam:Action="http://ws_pkg/USUARIO_tapi/u_delRequest" message="tns:u_del"/>
<output wsam:Action="http://ws_pkg/USUARIO_tapi/u_delResponse" message="tns:u_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/USUARIO_tapi/u_del/Fault/Exception"/>
</operation>
<operation name="u_upd">
<input wsam:Action="http://ws_pkg/USUARIO_tapi/u_updRequest" message="tns:u_upd"/>
<output wsam:Action="http://ws_pkg/USUARIO_tapi/u_updResponse" message="tns:u_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/USUARIO_tapi/u_upd/Fault/Exception"/>
</operation>
</portType>
<binding name="USUARIO_tapiPortBinding" type="tns:USUARIO_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="u_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="u_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="u_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="u_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="u_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="USUARIO_tapi">
<port name="USUARIO_tapiPort" binding="tns:USUARIO_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/USUARIO_tapi"/>
</port>
</service>
</definitions>