src/wsdl/localhost_8080/ws_gestionpermiso/CALENDARIO_HABIL.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="CALENDARIO_HABIL">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/CALENDARIO_HABIL?xsd=1"/>
</xsd:schema>
</types>
<message name="ch_ins">
<part name="parameters" element="tns:ch_ins"/>
</message>
<message name="ch_insResponse">
<part name="parameters" element="tns:ch_insResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="ch_upd">
<part name="parameters" element="tns:ch_upd"/>
</message>
<message name="ch_updResponse">
<part name="parameters" element="tns:ch_updResponse"/>
</message>
<message name="ch_sel">
<part name="parameters" element="tns:ch_sel"/>
</message>
<message name="ch_selResponse">
<part name="parameters" element="tns:ch_selResponse"/>
</message>
<message name="ch_selId">
<part name="parameters" element="tns:ch_selId"/>
</message>
<message name="ch_selIdResponse">
<part name="parameters" element="tns:ch_selIdResponse"/>
</message>
<message name="ch_del">
<part name="parameters" element="tns:ch_del"/>
</message>
<message name="ch_delResponse">
<part name="parameters" element="tns:ch_delResponse"/>
</message>
<portType name="CALENDARIO_HABIL">
<operation name="ch_ins">
<input wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_insRequest" message="tns:ch_ins"/>
<output wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_insResponse" message="tns:ch_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_ins/Fault/Exception"/>
</operation>
<operation name="ch_upd">
<input wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_updRequest" message="tns:ch_upd"/>
<output wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_updResponse" message="tns:ch_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_upd/Fault/Exception"/>
</operation>
<operation name="ch_sel">
<input wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_selRequest" message="tns:ch_sel"/>
<output wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_selResponse" message="tns:ch_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_sel/Fault/Exception"/>
</operation>
<operation name="ch_selId">
<input wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_selIdRequest" message="tns:ch_selId"/>
<output wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_selIdResponse" message="tns:ch_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_selId/Fault/Exception"/>
</operation>
<operation name="ch_del">
<input wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_delRequest" message="tns:ch_del"/>
<output wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_delResponse" message="tns:ch_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/CALENDARIO_HABIL/ch_del/Fault/Exception"/>
</operation>
</portType>
<binding name="CALENDARIO_HABILPortBinding" type="tns:CALENDARIO_HABIL">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ch_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ch_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ch_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ch_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ch_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="CALENDARIO_HABIL">
<port name="CALENDARIO_HABILPort" binding="tns:CALENDARIO_HABILPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/CALENDARIO_HABIL"/>
</port>
</service>
</definitions>