src/wsdl/localhost_8080/ws_gestionpermiso/FERIADO_MANUAL_tapi.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_pkg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_pkg/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="fm_del" type="tns:fm_del"/>

<xs:element name="fm_delResponse" type="tns:fm_delResponse"/>

<xs:element name="fm_ins" type="tns:fm_ins"/>

<xs:element name="fm_insResponse" type="tns:fm_insResponse"/>

<xs:element name="fm_sel" type="tns:fm_sel"/>

<xs:element name="fm_selId" type="tns:fm_selId"/>

<xs:element name="fm_selIdResponse" type="tns:fm_selIdResponse"/>

<xs:element name="fm_selResponse" type="tns:fm_selResponse"/>

<xs:element name="fm_upd" type="tns:fm_upd"/>

<xs:element name="fm_updResponse" type="tns:fm_updResponse"/>

<xs:complexType name="fm_ins">
<xs:sequence>
<xs:element name="p_MES" type="xs:string" minOccurs="0"/>
<xs:element name="p_RUT_CREACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_ANIO" type="xs:string" minOccurs="0"/>
<xs:element name="p_DIA" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_insResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_sel">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="fm_selResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_del">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_delResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_upd">
<xs:sequence>
<xs:element name="p_RUT_ACTUALIZACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_MES" type="xs:string" minOccurs="0"/>
<xs:element name="p_ANIO" type="xs:string" minOccurs="0"/>
<xs:element name="p_DIA" type="xs:string" minOccurs="0"/>
<xs:element name="p_ID_FERIADO_MANUAL" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_updResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_selId">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fm_selIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>