src/wsdl/localhost_8080/ws_gestionpermiso/FERIADO_MANUAL_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="FERIADO_MANUAL_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/FERIADO_MANUAL_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="fm_selId">
<part name="parameters" element="tns:fm_selId"/>
</message>
<message name="fm_selIdResponse">
<part name="parameters" element="tns:fm_selIdResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="fm_ins">
<part name="parameters" element="tns:fm_ins"/>
</message>
<message name="fm_insResponse">
<part name="parameters" element="tns:fm_insResponse"/>
</message>
<message name="fm_del">
<part name="parameters" element="tns:fm_del"/>
</message>
<message name="fm_delResponse">
<part name="parameters" element="tns:fm_delResponse"/>
</message>
<message name="fm_sel">
<part name="parameters" element="tns:fm_sel"/>
</message>
<message name="fm_selResponse">
<part name="parameters" element="tns:fm_selResponse"/>
</message>
<message name="fm_upd">
<part name="parameters" element="tns:fm_upd"/>
</message>
<message name="fm_updResponse">
<part name="parameters" element="tns:fm_updResponse"/>
</message>
<portType name="FERIADO_MANUAL_tapi">
<operation name="fm_selId">
<input wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_selIdRequest" message="tns:fm_selId"/>
<output wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_selIdResponse" message="tns:fm_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_selId/Fault/Exception"/>
</operation>
<operation name="fm_ins">
<input wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_insRequest" message="tns:fm_ins"/>
<output wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_insResponse" message="tns:fm_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_ins/Fault/Exception"/>
</operation>
<operation name="fm_del">
<input wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_delRequest" message="tns:fm_del"/>
<output wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_delResponse" message="tns:fm_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_del/Fault/Exception"/>
</operation>
<operation name="fm_sel">
<input wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_selRequest" message="tns:fm_sel"/>
<output wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_selResponse" message="tns:fm_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_sel/Fault/Exception"/>
</operation>
<operation name="fm_upd">
<input wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_updRequest" message="tns:fm_upd"/>
<output wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_updResponse" message="tns:fm_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/FERIADO_MANUAL_tapi/fm_upd/Fault/Exception"/>
</operation>
</portType>
<binding name="FERIADO_MANUAL_tapiPortBinding" type="tns:FERIADO_MANUAL_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="fm_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fm_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fm_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fm_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="fm_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="FERIADO_MANUAL_tapi">
<port name="FERIADO_MANUAL_tapiPort" binding="tns:FERIADO_MANUAL_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/FERIADO_MANUAL_tapi"/>
</port>
</service>
</definitions>