src/wsdl/localhost_8080/ws_gestionpermiso/MENU_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="MENU_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/MENU_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="m_upd">
<part name="parameters" element="tns:m_upd"/>
</message>
<message name="m_updResponse">
<part name="parameters" element="tns:m_updResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="m_selId">
<part name="parameters" element="tns:m_selId"/>
</message>
<message name="m_selIdResponse">
<part name="parameters" element="tns:m_selIdResponse"/>
</message>
<message name="m_sel">
<part name="parameters" element="tns:m_sel"/>
</message>
<message name="m_selResponse">
<part name="parameters" element="tns:m_selResponse"/>
</message>
<message name="m_ins">
<part name="parameters" element="tns:m_ins"/>
</message>
<message name="m_insResponse">
<part name="parameters" element="tns:m_insResponse"/>
</message>
<message name="m_del">
<part name="parameters" element="tns:m_del"/>
</message>
<message name="m_delResponse">
<part name="parameters" element="tns:m_delResponse"/>
</message>
<portType name="MENU_tapi">
<operation name="m_upd">
<input wsam:Action="http://ws_pkg/MENU_tapi/m_updRequest" message="tns:m_upd"/>
<output wsam:Action="http://ws_pkg/MENU_tapi/m_updResponse" message="tns:m_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/MENU_tapi/m_upd/Fault/Exception"/>
</operation>
<operation name="m_selId">
<input wsam:Action="http://ws_pkg/MENU_tapi/m_selIdRequest" message="tns:m_selId"/>
<output wsam:Action="http://ws_pkg/MENU_tapi/m_selIdResponse" message="tns:m_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/MENU_tapi/m_selId/Fault/Exception"/>
</operation>
<operation name="m_sel">
<input wsam:Action="http://ws_pkg/MENU_tapi/m_selRequest" message="tns:m_sel"/>
<output wsam:Action="http://ws_pkg/MENU_tapi/m_selResponse" message="tns:m_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/MENU_tapi/m_sel/Fault/Exception"/>
</operation>
<operation name="m_ins">
<input wsam:Action="http://ws_pkg/MENU_tapi/m_insRequest" message="tns:m_ins"/>
<output wsam:Action="http://ws_pkg/MENU_tapi/m_insResponse" message="tns:m_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/MENU_tapi/m_ins/Fault/Exception"/>
</operation>
<operation name="m_del">
<input wsam:Action="http://ws_pkg/MENU_tapi/m_delRequest" message="tns:m_del"/>
<output wsam:Action="http://ws_pkg/MENU_tapi/m_delResponse" message="tns:m_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/MENU_tapi/m_del/Fault/Exception"/>
</operation>
</portType>
<binding name="MENU_tapiPortBinding" type="tns:MENU_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="m_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="m_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="m_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="m_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="m_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="MENU_tapi">
<port name="MENU_tapiPort" binding="tns:MENU_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/MENU_tapi"/>
</port>
</service>
</definitions>