src/wsdl/localhost_8080/ws_gestionpermiso/REL_USUARIO_TIPO_USU_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="REL_USUARIO_TIPO_USU_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/REL_USUARIO_TIPO_USU_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="rutu_ins">
<part name="parameters" element="tns:rutu_ins"/>
</message>
<message name="rutu_insResponse">
<part name="parameters" element="tns:rutu_insResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="rutu_sel">
<part name="parameters" element="tns:rutu_sel"/>
</message>
<message name="rutu_selResponse">
<part name="parameters" element="tns:rutu_selResponse"/>
</message>
<message name="rutu_del">
<part name="parameters" element="tns:rutu_del"/>
</message>
<message name="rutu_delResponse">
<part name="parameters" element="tns:rutu_delResponse"/>
</message>
<message name="rutu_selId">
<part name="parameters" element="tns:rutu_selId"/>
</message>
<message name="rutu_selIdResponse">
<part name="parameters" element="tns:rutu_selIdResponse"/>
</message>
<portType name="REL_USUARIO_TIPO_USU_tapi">
<operation name="rutu_ins">
<input wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_insRequest" message="tns:rutu_ins"/>
<output wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_insResponse" message="tns:rutu_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_ins/Fault/Exception"/>
</operation>
<operation name="rutu_sel">
<input wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_selRequest" message="tns:rutu_sel"/>
<output wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_selResponse" message="tns:rutu_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_sel/Fault/Exception"/>
</operation>
<operation name="rutu_del">
<input wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_delRequest" message="tns:rutu_del"/>
<output wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_delResponse" message="tns:rutu_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_del/Fault/Exception"/>
</operation>
<operation name="rutu_selId">
<input wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_selIdRequest" message="tns:rutu_selId"/>
<output wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_selIdResponse" message="tns:rutu_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/REL_USUARIO_TIPO_USU_tapi/rutu_selId/Fault/Exception"/>
</operation>
</portType>
<binding name="REL_USUARIO_TIPO_USU_tapiPortBinding" type="tns:REL_USUARIO_TIPO_USU_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="rutu_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="rutu_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="rutu_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="rutu_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="REL_USUARIO_TIPO_USU_tapi">
<port name="REL_USUARIO_TIPO_USU_tapiPort" binding="tns:REL_USUARIO_TIPO_USU_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/REL_USUARIO_TIPO_USU_tapi"/>
</port>
</service>
</definitions>