src/wsdl/localhost_8080/ws_gestionpermiso/REL_USUARIO_TIPO_USU_tapi.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_pkg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_pkg/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="rutu_del" type="tns:rutu_del"/>

<xs:element name="rutu_delResponse" type="tns:rutu_delResponse"/>

<xs:element name="rutu_ins" type="tns:rutu_ins"/>

<xs:element name="rutu_insResponse" type="tns:rutu_insResponse"/>

<xs:element name="rutu_sel" type="tns:rutu_sel"/>

<xs:element name="rutu_selId" type="tns:rutu_selId"/>

<xs:element name="rutu_selIdResponse" type="tns:rutu_selIdResponse"/>

<xs:element name="rutu_selResponse" type="tns:rutu_selResponse"/>

<xs:complexType name="rutu_ins">
<xs:sequence>
<xs:element name="p_RUT" type="xs:string" minOccurs="0"/>
<xs:element name="p_ID_TIPO_USUARIO" type="xs:string" minOccurs="0"/>
<xs:element name="p_RUT_CREACION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutu_insResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutu_del">
<xs:sequence>
<xs:element name="p_RUT" type="xs:string" minOccurs="0"/>
<xs:element name="p_ID_TIPO_USUARIO" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutu_delResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutu_sel">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="rutu_selResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutu_selId">
<xs:sequence>
<xs:element name="p_RUT" type="xs:string" minOccurs="0"/>
<xs:element name="p_ID_TIPO_USUARIO" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rutu_selIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>