src/wsdl/localhost_8080/ws_gestionpermiso/TIPO_USO_tapi.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_pkg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_pkg/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="tuso_del" type="tns:tuso_del"/>

<xs:element name="tuso_delResponse" type="tns:tuso_delResponse"/>

<xs:element name="tuso_ins" type="tns:tuso_ins"/>

<xs:element name="tuso_insResponse" type="tns:tuso_insResponse"/>

<xs:element name="tuso_sel" type="tns:tuso_sel"/>

<xs:element name="tuso_selId" type="tns:tuso_selId"/>

<xs:element name="tuso_selIdResponse" type="tns:tuso_selIdResponse"/>

<xs:element name="tuso_selResponse" type="tns:tuso_selResponse"/>

<xs:element name="tuso_upd" type="tns:tuso_upd"/>

<xs:element name="tuso_updResponse" type="tns:tuso_updResponse"/>

<xs:complexType name="tuso_upd">
<xs:sequence>
<xs:element name="p_GLOSA_TIPO_USO" type="xs:string" minOccurs="0"/>
<xs:element name="p_RUT_ACTUALIZACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_ID_TIPO_USO" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_updResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_selId">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_selIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_ins">
<xs:sequence>
<xs:element name="p_GLOSA_TIPO_USO" type="xs:string" minOccurs="0"/>
<xs:element name="p_RUT_CREACION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_insResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_del">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_delResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tuso_sel">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tuso_selResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>