src/wsdl/localhost_8080/ws_gestionpermiso/TIPO_DIA_LIBRE_tapi.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_pkg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_pkg/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="tdl_del" type="tns:tdl_del"/>

<xs:element name="tdl_delResponse" type="tns:tdl_delResponse"/>

<xs:element name="tdl_ins" type="tns:tdl_ins"/>

<xs:element name="tdl_insResponse" type="tns:tdl_insResponse"/>

<xs:element name="tdl_sel" type="tns:tdl_sel"/>

<xs:element name="tdl_selId" type="tns:tdl_selId"/>

<xs:element name="tdl_selIdResponse" type="tns:tdl_selIdResponse"/>

<xs:element name="tdl_selResponse" type="tns:tdl_selResponse"/>

<xs:element name="tdl_upd" type="tns:tdl_upd"/>

<xs:element name="tdl_updResponse" type="tns:tdl_updResponse"/>

<xs:complexType name="tdl_sel">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tdl_selResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_upd">
<xs:sequence>
<xs:element name="p_ID_TIPO_DIA_LIBRE" type="xs:string" minOccurs="0"/>
<xs:element name="p_GLOSA_TIPO_DIA_LIBRE" type="xs:string" minOccurs="0"/>
<xs:element name="p_RUT_ACTUALIZACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_CANTIDAD_DIAS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_updResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_selId">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_selIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_ins">
<xs:sequence>
<xs:element name="p_GLOSA_TIPO_DIA_LIBRE" type="xs:string" minOccurs="0"/>
<xs:element name="p_RUT_CREACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_CANTIDAD_DIAS" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_insResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_del">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tdl_delResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>