src/wsdl/localhost_8080/ws_gestionpermiso/TIPO_DIA_LIBRE_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="TIPO_DIA_LIBRE_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/TIPO_DIA_LIBRE_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="tdl_sel">
<part name="parameters" element="tns:tdl_sel"/>
</message>
<message name="tdl_selResponse">
<part name="parameters" element="tns:tdl_selResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="tdl_ins">
<part name="parameters" element="tns:tdl_ins"/>
</message>
<message name="tdl_insResponse">
<part name="parameters" element="tns:tdl_insResponse"/>
</message>
<message name="tdl_del">
<part name="parameters" element="tns:tdl_del"/>
</message>
<message name="tdl_delResponse">
<part name="parameters" element="tns:tdl_delResponse"/>
</message>
<message name="tdl_upd">
<part name="parameters" element="tns:tdl_upd"/>
</message>
<message name="tdl_updResponse">
<part name="parameters" element="tns:tdl_updResponse"/>
</message>
<message name="tdl_selId">
<part name="parameters" element="tns:tdl_selId"/>
</message>
<message name="tdl_selIdResponse">
<part name="parameters" element="tns:tdl_selIdResponse"/>
</message>
<portType name="TIPO_DIA_LIBRE_tapi">
<operation name="tdl_sel">
<input wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_selRequest" message="tns:tdl_sel"/>
<output wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_selResponse" message="tns:tdl_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_sel/Fault/Exception"/>
</operation>
<operation name="tdl_ins">
<input wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_insRequest" message="tns:tdl_ins"/>
<output wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_insResponse" message="tns:tdl_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_ins/Fault/Exception"/>
</operation>
<operation name="tdl_del">
<input wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_delRequest" message="tns:tdl_del"/>
<output wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_delResponse" message="tns:tdl_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_del/Fault/Exception"/>
</operation>
<operation name="tdl_upd">
<input wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_updRequest" message="tns:tdl_upd"/>
<output wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_updResponse" message="tns:tdl_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_upd/Fault/Exception"/>
</operation>
<operation name="tdl_selId">
<input wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_selIdRequest" message="tns:tdl_selId"/>
<output wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_selIdResponse" message="tns:tdl_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_DIA_LIBRE_tapi/tdl_selId/Fault/Exception"/>
</operation>
</portType>
<binding name="TIPO_DIA_LIBRE_tapiPortBinding" type="tns:TIPO_DIA_LIBRE_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="tdl_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tdl_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tdl_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tdl_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tdl_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TIPO_DIA_LIBRE_tapi">
<port name="TIPO_DIA_LIBRE_tapiPort" binding="tns:TIPO_DIA_LIBRE_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/TIPO_DIA_LIBRE_tapi"/>
</port>
</service>
</definitions>