src/wsdl/localhost_8080/ws_gestionpermiso/TIPO_USUARIO_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="TIPO_USUARIO_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/TIPO_USUARIO_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="tu_sel">
<part name="parameters" element="tns:tu_sel"/>
</message>
<message name="tu_selResponse">
<part name="parameters" element="tns:tu_selResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="tu_selId">
<part name="parameters" element="tns:tu_selId"/>
</message>
<message name="tu_selIdResponse">
<part name="parameters" element="tns:tu_selIdResponse"/>
</message>
<message name="tu_ins">
<part name="parameters" element="tns:tu_ins"/>
</message>
<message name="tu_insResponse">
<part name="parameters" element="tns:tu_insResponse"/>
</message>
<message name="tu_upd">
<part name="parameters" element="tns:tu_upd"/>
</message>
<message name="tu_updResponse">
<part name="parameters" element="tns:tu_updResponse"/>
</message>
<message name="tu_del">
<part name="parameters" element="tns:tu_del"/>
</message>
<message name="tu_delResponse">
<part name="parameters" element="tns:tu_delResponse"/>
</message>
<portType name="TIPO_USUARIO_tapi">
<operation name="tu_sel">
<input wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_selRequest" message="tns:tu_sel"/>
<output wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_selResponse" message="tns:tu_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_sel/Fault/Exception"/>
</operation>
<operation name="tu_selId">
<input wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_selIdRequest" message="tns:tu_selId"/>
<output wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_selIdResponse" message="tns:tu_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_selId/Fault/Exception"/>
</operation>
<operation name="tu_ins">
<input wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_insRequest" message="tns:tu_ins"/>
<output wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_insResponse" message="tns:tu_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_ins/Fault/Exception"/>
</operation>
<operation name="tu_upd">
<input wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_updRequest" message="tns:tu_upd"/>
<output wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_updResponse" message="tns:tu_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_upd/Fault/Exception"/>
</operation>
<operation name="tu_del">
<input wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_delRequest" message="tns:tu_del"/>
<output wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_delResponse" message="tns:tu_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USUARIO_tapi/tu_del/Fault/Exception"/>
</operation>
</portType>
<binding name="TIPO_USUARIO_tapiPortBinding" type="tns:TIPO_USUARIO_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="tu_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tu_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tu_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tu_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tu_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TIPO_USUARIO_tapi">
<port name="TIPO_USUARIO_tapiPort" binding="tns:TIPO_USUARIO_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/TIPO_USUARIO_tapi"/>
</port>
</service>
</definitions>