src/wsdl/localhost_8080/ws_gestionpermiso/TIPO_APROBACION_tapi.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws_pkg/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws_pkg/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="ta_del" type="tns:ta_del"/>

<xs:element name="ta_delResponse" type="tns:ta_delResponse"/>

<xs:element name="ta_ins" type="tns:ta_ins"/>

<xs:element name="ta_insResponse" type="tns:ta_insResponse"/>

<xs:element name="ta_sel" type="tns:ta_sel"/>

<xs:element name="ta_selId" type="tns:ta_selId"/>

<xs:element name="ta_selIdResponse" type="tns:ta_selIdResponse"/>

<xs:element name="ta_selResponse" type="tns:ta_selResponse"/>

<xs:element name="ta_upd" type="tns:ta_upd"/>

<xs:element name="ta_updResponse" type="tns:ta_updResponse"/>

<xs:complexType name="ta_ins">
<xs:sequence>
<xs:element name="p_GLOSA_TIPO_APROBACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_RUT_CREACION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_insResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_sel">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ta_selResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_del">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_delResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_upd">
<xs:sequence>
<xs:element name="p_RUT_ACTUALIZACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_ID_TIPO_APROBACION" type="xs:string" minOccurs="0"/>
<xs:element name="p_GLOSA_TIPO_APROBACION" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_updResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_selId">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ta_selIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>