src/wsdl/localhost_8080/ws_gestionpermiso/TIPO_USO_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="TIPO_USO_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/TIPO_USO_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="tuso_del">
<part name="parameters" element="tns:tuso_del"/>
</message>
<message name="tuso_delResponse">
<part name="parameters" element="tns:tuso_delResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="tuso_sel">
<part name="parameters" element="tns:tuso_sel"/>
</message>
<message name="tuso_selResponse">
<part name="parameters" element="tns:tuso_selResponse"/>
</message>
<message name="tuso_selId">
<part name="parameters" element="tns:tuso_selId"/>
</message>
<message name="tuso_selIdResponse">
<part name="parameters" element="tns:tuso_selIdResponse"/>
</message>
<message name="tuso_ins">
<part name="parameters" element="tns:tuso_ins"/>
</message>
<message name="tuso_insResponse">
<part name="parameters" element="tns:tuso_insResponse"/>
</message>
<message name="tuso_upd">
<part name="parameters" element="tns:tuso_upd"/>
</message>
<message name="tuso_updResponse">
<part name="parameters" element="tns:tuso_updResponse"/>
</message>
<portType name="TIPO_USO_tapi">
<operation name="tuso_del">
<input wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_delRequest" message="tns:tuso_del"/>
<output wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_delResponse" message="tns:tuso_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_del/Fault/Exception"/>
</operation>
<operation name="tuso_sel">
<input wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_selRequest" message="tns:tuso_sel"/>
<output wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_selResponse" message="tns:tuso_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_sel/Fault/Exception"/>
</operation>
<operation name="tuso_selId">
<input wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_selIdRequest" message="tns:tuso_selId"/>
<output wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_selIdResponse" message="tns:tuso_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_selId/Fault/Exception"/>
</operation>
<operation name="tuso_ins">
<input wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_insRequest" message="tns:tuso_ins"/>
<output wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_insResponse" message="tns:tuso_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_ins/Fault/Exception"/>
</operation>
<operation name="tuso_upd">
<input wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_updRequest" message="tns:tuso_upd"/>
<output wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_updResponse" message="tns:tuso_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_USO_tapi/tuso_upd/Fault/Exception"/>
</operation>
</portType>
<binding name="TIPO_USO_tapiPortBinding" type="tns:TIPO_USO_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="tuso_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tuso_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tuso_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tuso_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="tuso_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TIPO_USO_tapi">
<port name="TIPO_USO_tapiPort" binding="tns:TIPO_USO_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/TIPO_USO_tapi"/>
</port>
</service>
</definitions>