src/wsdl/localhost_8080/ws_gestionpermiso/TIPO_APROBACION_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="TIPO_APROBACION_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/TIPO_APROBACION_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="ta_del">
<part name="parameters" element="tns:ta_del"/>
</message>
<message name="ta_delResponse">
<part name="parameters" element="tns:ta_delResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="ta_ins">
<part name="parameters" element="tns:ta_ins"/>
</message>
<message name="ta_insResponse">
<part name="parameters" element="tns:ta_insResponse"/>
</message>
<message name="ta_selId">
<part name="parameters" element="tns:ta_selId"/>
</message>
<message name="ta_selIdResponse">
<part name="parameters" element="tns:ta_selIdResponse"/>
</message>
<message name="ta_sel">
<part name="parameters" element="tns:ta_sel"/>
</message>
<message name="ta_selResponse">
<part name="parameters" element="tns:ta_selResponse"/>
</message>
<message name="ta_upd">
<part name="parameters" element="tns:ta_upd"/>
</message>
<message name="ta_updResponse">
<part name="parameters" element="tns:ta_updResponse"/>
</message>
<portType name="TIPO_APROBACION_tapi">
<operation name="ta_del">
<input wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_delRequest" message="tns:ta_del"/>
<output wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_delResponse" message="tns:ta_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_del/Fault/Exception"/>
</operation>
<operation name="ta_ins">
<input wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_insRequest" message="tns:ta_ins"/>
<output wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_insResponse" message="tns:ta_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_ins/Fault/Exception"/>
</operation>
<operation name="ta_selId">
<input wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_selIdRequest" message="tns:ta_selId"/>
<output wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_selIdResponse" message="tns:ta_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_selId/Fault/Exception"/>
</operation>
<operation name="ta_sel">
<input wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_selRequest" message="tns:ta_sel"/>
<output wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_selResponse" message="tns:ta_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_sel/Fault/Exception"/>
</operation>
<operation name="ta_upd">
<input wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_updRequest" message="tns:ta_upd"/>
<output wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_updResponse" message="tns:ta_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/TIPO_APROBACION_tapi/ta_upd/Fault/Exception"/>
</operation>
</portType>
<binding name="TIPO_APROBACION_tapiPortBinding" type="tns:TIPO_APROBACION_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ta_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ta_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ta_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ta_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ta_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="TIPO_APROBACION_tapi">
<port name="TIPO_APROBACION_tapiPort" binding="tns:TIPO_APROBACION_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/TIPO_APROBACION_tapi"/>
</port>
</service>
</definitions>