src/wsdl/localhost_8080/ws_gestionpermiso/UNIDAD_INTERNA_tapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws_pkg/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws_pkg/" name="UNIDAD_INTERNA_tapi">
<types>
<xsd:schema>
<xsd:import namespace="http://ws_pkg/" schemaLocation="http://localhost:8080/WS_GestionPermiso/UNIDAD_INTERNA_tapi?xsd=1"/>
</xsd:schema>
</types>
<message name="ui_ins">
<part name="parameters" element="tns:ui_ins"/>
</message>
<message name="ui_insResponse">
<part name="parameters" element="tns:ui_insResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="ui_sel">
<part name="parameters" element="tns:ui_sel"/>
</message>
<message name="ui_selResponse">
<part name="parameters" element="tns:ui_selResponse"/>
</message>
<message name="ui_upd">
<part name="parameters" element="tns:ui_upd"/>
</message>
<message name="ui_updResponse">
<part name="parameters" element="tns:ui_updResponse"/>
</message>
<message name="ui_selId">
<part name="parameters" element="tns:ui_selId"/>
</message>
<message name="ui_selIdResponse">
<part name="parameters" element="tns:ui_selIdResponse"/>
</message>
<message name="ui_del">
<part name="parameters" element="tns:ui_del"/>
</message>
<message name="ui_delResponse">
<part name="parameters" element="tns:ui_delResponse"/>
</message>
<portType name="UNIDAD_INTERNA_tapi">
<operation name="ui_ins">
<input wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_insRequest" message="tns:ui_ins"/>
<output wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_insResponse" message="tns:ui_insResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_ins/Fault/Exception"/>
</operation>
<operation name="ui_sel">
<input wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_selRequest" message="tns:ui_sel"/>
<output wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_selResponse" message="tns:ui_selResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_sel/Fault/Exception"/>
</operation>
<operation name="ui_upd">
<input wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_updRequest" message="tns:ui_upd"/>
<output wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_updResponse" message="tns:ui_updResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_upd/Fault/Exception"/>
</operation>
<operation name="ui_selId">
<input wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_selIdRequest" message="tns:ui_selId"/>
<output wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_selIdResponse" message="tns:ui_selIdResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_selId/Fault/Exception"/>
</operation>
<operation name="ui_del">
<input wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_delRequest" message="tns:ui_del"/>
<output wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_delResponse" message="tns:ui_delResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://ws_pkg/UNIDAD_INTERNA_tapi/ui_del/Fault/Exception"/>
</operation>
</portType>
<binding name="UNIDAD_INTERNA_tapiPortBinding" type="tns:UNIDAD_INTERNA_tapi">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ui_ins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ui_sel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ui_upd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ui_selId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="ui_del">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="UNIDAD_INTERNA_tapi">
<port name="UNIDAD_INTERNA_tapiPort" binding="tns:UNIDAD_INTERNA_tapiPortBinding">
<soap:address location="http://localhost:8080/WS_GestionPermiso/UNIDAD_INTERNA_tapi"/>
</port>
</service>
</definitions>